svg path {
    fill:inherit;
    stroke:inherit;
    stroke-width:inherit;

}
.yellow_hover {
    color:rgb(132, 132, 40)
}
.yellow_hover:hover {
fill:rgb(203, 254, 62);
border-radius: 20px;
background-color:rgb(26, 26, 18) ;
transition: all .3s ease;
}
.card_hover:hover{
    color: rgb(190, 137, 12);
}
.card_hover{
    margin-right: 10px;
}
.carous{
    height: 100%;
    margin-top: 70px;
   
}
.carous1{
    height: 300px;
    margin-top: 70px;
    position: relative;
	width	: 100%; /* for IE 6 */
}
.carous2{
    margin-top: 5px;
    height: 225px;

}
.carousel-caption {
    width:100%;
    height:100%;
    left:0 !important;
}
