    <section style="margin-top:50px;" id="ContactUs">
      <div style="height:80px ;"></div>
      <div style="margin-bottom:30px ;" class="section-title text-center">
        <h2>Have a question? Fill out the form and we will contact you</h2>
      </div>
      <div class="container contact text-center">
        <form action="" method="post" role="form" >
            {% csrf_token %}
          <div class="row">
            <div style="margin-top:30px ;" class="col">
              <div class="mb-3 ">
                    {{ form.name }}
              </div>
            </div>
            <div style="margin-top:30px ;" class="col">
              <div class="mb-3">
                {{ form.phone }}
              </div>
            </div>
            <h6>Enter the date when we will call you</h6>
            <div class="col">
                {{ form.date }}
            </div>
            <div class="col">
                {{ form.time }}
            </div>
           {{ form.text }}
          </div>
          <div style="text-align:center;margin-top:15px">
              если больше 500 слов в БД ничего не отправляется,пользователь не знает
            <button style="width:130px;margin-bottom:20px" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </section>
