{% load static %}

<section class="product" id="Product">
  <div style="height:70px;margin-top:20px;"></div>
  <div class="container text-center header-transparent">
    <h2>Our Product</h2>
    <ul class="Itempicker">
      <li class="list active PickCategory" data-filter="all">All</li>
      {% for category in categories %}
      <li class="list PickCategory" data-filter="{{ category.name }}">{{ category.name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;text-align: center">
    {% for item in product %}
    <div class="card item" data-item="{{item.category.name}}">
      <img src={% static '/img/slider/lamp9.jpeg' %} class="card-img-top" alt="Desk lamp">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{ item.small_description}}</p>
        <a href="{% url "cart:cart_add" item.id %}" class="btn btn-warning price">Add to cart</a>
        <a class="btn btn-primary">{{ item.price }}$</a>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation example ">
    <ul class="pagination">
      {% if prod_list.has_previous %}
      <li class="page-item"> <a class="page-link" href="?page=1">First</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ prod_list.previous_page_number }}">Previous</a></li>
      {% endif %}
      {% if prod_list.number != 1 %}
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
      {% endif %}
      {% if prod_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ prod_list.next_page_number }}">Next page</a></li>
      <li style="margin-bottom: 10px" class="page-item"> <a class="page-link"
          href="?page={{ prod_list.paginator.num_pages }}">Last page</a></li>
      {% endif %}
    </ul>
  </nav>

</section>