<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="row">
      {% for item in sale_item %}
        {% if item.position >= 5 %}
        {% else %}
        <div class="col">
          <div class="card saleitem">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{item.sale_percent_auto_calculate}}%
            </span>
            <img src="{{item.picture.url}}" class="card-img-top" alt="sale item">
            <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text">{{ item.small_description }}</p><br>
              <s>{{item.past_price}}$</s>
              <strong>{{item.new_price}}$</strong>
              <a href="{% url 'cart:cart_add_sale_item' item.id item.slug %}" style="margin-left:5px ;width:110px" class="cart-btn btn btn-warning">Add to cart</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="carousel-item">
    <div class="row">
      {% for item in sale_item %}
        {% if item.position >= 5 and item.position < 9 %}
        <div class="col">
          <div class="card saleitem">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{item.sale_percent_auto_calculate}}%
            </span>
            <img src="{{ item.picture.url }}" class="card-img-top" alt="sale item">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.small_description }}</p><br>
              <s>{{ item.past_price }}$</s>
              <strong>{{ item.new_price }}$</strong>
              <a href="{% url 'cart:cart_add_sale_item' item.id item.slug %}" style="margin-left:5px;width:110px" class="cart-btn btn btn-warning">Add to cart</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
